yliveticker==0.2.7
numpy==1.19.1
schedule==0.6.0
pandas==1.1.0
timeloop==1.0.2
yflive==0.1.2
market_profile==0.1.1
matplotlib==3.4.1
mplfinance==0.12.7a10
pandas_ta==0.2.45b
plotly==4.14.3
scipy==1.6.2
seaborn==0.11.1
yfinance==0.1.59
