numpy==1.20.2
yfinance==0.1.59
yflive==0.1.3
pandas_ta==0.2.45b0
yliveticker==0.2.9
pandas==1.2.3
schedule==1.0.0
plotly==4.14.3
~cipy==1.6.1
colorama==0.4.4
timeloop==1.0.2
seaborn==0.11.1
MarketProfile==0.2.0
requests==2.18.4
mplfinance==0.12.7a10
matplotlib==3.4.1
pipreqs==0.4.10
beautifulsoup4==4.9.3
market_profile==0.1.1
scipy==1.6.2
