<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="x_window" content={{x_window}}>
    <title>Flask data vizualizer</title>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdn.socket.io/4.1.1/socket.io.min.js"
        integrity="sha384-cdrFIqe3RasCMNE0jeFG9xJHog/tgOVC1E9Lzve8LQN1g5WUHo0Kvk1mawWjxX7a"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script
        src="https://cdn.jsdelivr.net/gh/h0wXD/lightweight-charts@master/dist/lightweight-charts.standalone.production.js"></script>

        <style>
            .tv-lightweight-charts { 
                border-left: 0.5px solid slategrey;
            }
        </style>
</head>


<body>

    <div class="container-fluid">
        <div class="row">
            <!-- placeholder for symbol list  -->            
            <div id="symbolTable" style="width:20%;" class="col-sm">
                <table style="cursor: pointer;" class="table-sm table-bordered width table-hover">
                    <thead>
                        <tr>
                            <th>Symbol</th>
                            <th>Delta</th>
                            <th>SQZ 1W</th>
                            <th>SQZ 1D</th>
                            <th>SQZ 4H</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            
            <!-- placeholder for lightweight interactive charts  from API -->
            <div style="margin:10px;" class="col">
                <div id="ctitle"></div>

                <div id="chart">
                </div>
                <div id="axis">
                </div>
                <!-- <div id="axis2">
                </div> -->
            </div>

        </div>
    </div>
    <div class="result" style="clear:both"></div>

    <!-- placeholder for chart img from socket -->
    <div id="chartimg">
        <p id="tick"></p>
        <img id="img" max-width="100%" , max-height="100%" ;>
    </div>

    <script src="./charting.js"></script>

    <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->
    <!-- <script src="{{ url_for('static', filename='plot.js') }}"></script> -->
</body>

</html>